interactions:
- request:
    body: payment_method_types[0]=card&client_reference_id=1&line_items[0][name]=Sherlock+Homes&line_items[0][description]=a+house+hunting+detective&line_items[0][amount]=500&line_items[0][currency]=usd&line_items[0][images][0]=https%3A%2F%2Fplacehold.co%2F600x400%3Ftext%3DSherlock+Homes&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Flocalhost%2Fproduct%2F1%2Fpost-checkout%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D%26status%3Dsuccess&cancel_url=http%3A%2F%2Flocalhost%2Fproduct%2F1%2Fpost-checkout%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D%26status%3Dcancel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 398102a4-5356-44d4-9669-bfe4aeae4945
    method: POST
    uri: https://api.stripe.com/v1/checkout/sessions
  response:
    body:
      string: "{\n  \"id\": \"cs_test_a1bCqcYifWEacSRAMyGvcLj122SfHarosIoD2yOTbfQLcugOzMS3BdWGCX\",\n
        \ \"object\": \"checkout.session\",\n  \"allow_promotion_codes\": null,\n
        \ \"amount_subtotal\": 500,\n  \"amount_total\": 500,\n  \"billing_address_collection\":
        null,\n  \"cancel_url\": \"http://localhost/product/1/post-checkout?session_id={CHECKOUT_SESSION_ID}\\u0026status=cancel\",\n
        \ \"client_reference_id\": \"1\",\n  \"currency\": \"usd\",\n  \"customer\":
        null,\n  \"customer_details\": null,\n  \"customer_email\": null,\n  \"livemode\":
        false,\n  \"locale\": null,\n  \"metadata\": {\n  },\n  \"mode\": \"payment\",\n
        \ \"payment_intent\": \"pi_1IUqy7FXo0FEMCl5Hwem9nmy\",\n  \"payment_method_types\":
        [\n    \"card\"\n  ],\n  \"payment_status\": \"unpaid\",\n  \"setup_intent\":
        null,\n  \"shipping\": null,\n  \"shipping_address_collection\": null,\n  \"submit_type\":
        null,\n  \"subscription\": null,\n  \"success_url\": \"http://localhost/product/1/post-checkout?session_id={CHECKOUT_SESSION_ID}\\u0026status=success\",\n
        \ \"total_details\": {\n    \"amount_discount\": 0,\n    \"amount_tax\": 0\n
        \ }\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 398102a4-5356-44d4-9669-bfe4aeae4945
      original-request:
      - req_myd9UPqAwNwIOZ
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
