interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stripe.com/v1/customers/cus_J70yXrh5c73kpo
  response:
    body:
      string: "{\n  \"id\": \"cus_J70yXrh5c73kpo\",\n  \"object\": \"customer\",\n
        \ \"address\": null,\n  \"balance\": 0,\n  \"created\": 1615701439,\n  \"currency\":
        null,\n  \"default_source\": null,\n  \"delinquent\": false,\n  \"description\":
        null,\n  \"discount\": null,\n  \"email\": \"thanh@gmail.com\",\n  \"invoice_prefix\":
        \"7D6B8D60\",\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\":
        null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"name\": null,\n  \"next_invoice_sequence\": 1,\n  \"phone\":
        null,\n  \"preferred_locales\": [\n\n  ],\n  \"shipping\": null,\n  \"tax_exempt\":
        \"none\"\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
version: 1
