{% from "_formhelpers.html" import render_field %}

{% extends "base_layout.html" %}

{% block title %} New Product {% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('products.create') }}">
    {{ form.csrf_token }}
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.price, placeholder="5.00") }}
    {{ render_field(form.picture_url, placeholder="https://example.com/image.png") }}

    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}