<div class="container">
    <div class="row mt-3">
        <div class="col-md-4 col-xs-12 feature-block">
            <i class="fa fa-cc-stripe feature-icon"></i>
            <div class="feature-text-block">
                <div class="feature-heading">Built in checkout</div>
                <div class="features-text-block">
                    Yumroad uses Stripe checkout to accept credit card payments from around the world
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 feature-block">
            <i class="fa fa-dollar feature-icon"></i>
            <div class="feature-text-block">
                <div class="feature-heading">Free</div>
                <div class="features-text-block">
                    Yumroad offers a free plan for store owners to quickly sell products
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 feature-block">
            <i class="fa fa-cloud feature-icon"></i>
            <div class="feature-text-block">
                <div class="feature-heading">API
                    <a class="badge badge-warning ml-1"> Coming Soon</a>
                </div>
                <div class="features-text-block">
                    An API for you to create, retrieve, and embed products on your own site.
                </div>
            </div>
        </div>
    </div>
</div>