{% macro render_field(field) %}
    <div class="form-group {% if field.errors %} has-error{% endif -%} {%- if field.flags.required %} required{% endif -%}">
        <!--Label-->
        <label for="{{ field.name }}">{{ field.label }}</label>

        <!--Description-->
        {% if field.description %}
        <small classname="text-muted" for="{{ field.name }}">({{ field.description }})</small>
        {% endif %}

        <!--Input-->
        {{ field(class_=' '.join(['form-control', 'is-invalid' if field.errors else '']), **kwargs)|safe }}

        <!--Error List-->
        <ul class="invalid-feedback errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
