<!DOCTYPE html>
<html>
<head>
    <title>
    {% block title %}{% endblock %} Yumroad
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    {% from '_macros.html' import render_flashes %}

    {% include '_navbar.html' %}

    {{ render_flashes() }}

    <div class="container mt-3">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
