<!DOCTYPE html>
<html>
<head>
    <title>
    {% block title %}{% endblock %} Yumroad
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-t\
    o-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.\
    3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Yumroad</a>
    </nav>
    <div class="container mt-3">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
